<div class="mt-4 p-2">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="search-input" class="form-label">Key words</label>
      <input
        name="q"
        type="text"
        id="search-input"
        class="form-control"
        placeholder="Enter key words"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>